//Сценарий ресурсов, созданный в Microsoft Visual C++.
//
#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
//
// Создано из ресурса TEXTINCLUDE.
//
#ifndef APSTUDIO_INVOKED
#include "targetver.h"
#endif
#define APSTUDIO_HIDDEN_SYMBOLS
#include "windows.h"
#undef APSTUDIO_HIDDEN_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
#undef APSTUDIO_READONLY_SYMBOLS

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_RUS)
LANGUAGE 25, 1

/////////////////////////////////////////////////////////////////////////////
//
// Значок
//

// Значок с наименьшим значением идентификатора помещается первым, чтобы гарантировать использование
// идентичного значка приложения для всех систем.

IDI_RBPOPZ6SEM       ICON         "Rbpo_pz_6sem.ico"
IDI_SMALL               ICON         "small.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Меню
//

IDC_RBPOPZ6SEM MENU
BEGIN
    POPUP "&Файл"
    BEGIN
        MENUITEM "Выйти из &аккаунта",      IDM_LOGOUT
        MENUITEM "Сканировать &файл...",    IDM_SCAN_FILE
        MENUITEM "Сканировать &папку...",    IDM_SCAN_FOLDER
        MENUITEM "Сканировать &все несъёмные диски", IDM_SCAN_ALL_DRIVES
        MENUITEM "Показать результаты &сканирования", IDM_SCAN_RESULTS
        MENUITEM "Вы&ход",                IDM_EXIT
    END
    POPUP "&Дополнительно"
    BEGIN
        MENUITEM "Вкл/выкл &расписание",   IDM_SCHEDULE_SCAN
        MENUITEM "&Настроить расписание...", IDM_SCHEDULE_SETTINGS
        MENUITEM "Добавить папку &мониторинга...", IDM_MONITOR_ADD
        MENUITEM "Показать папки &мониторинга", IDM_MONITOR_LIST
    END
    POPUP "&Справка"
    BEGIN
        MENUITEM "&О программе...",           IDM_ABOUT
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Ускоритель
//

IDC_RBPOPZ6SEM ACCELERATORS
BEGIN
    "?",            IDM_ABOUT,              ASCII,  ALT
    "/",            IDM_ABOUT,              ASCII,  ALT
END


/////////////////////////////////////////////////////////////////////////////
//
// Диалоговое окно
//

IDD_ABOUTBOX DIALOGEX 0, 0, 170, 62
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "О программе Rbpo_pz_6sem"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON            IDI_RBPOPZ6SEM,IDC_STATIC,14,14,21,20
    LTEXT           "Rbpo_pz_6sem, Версия 1.0",IDC_STATIC,42,14,114,8,SS_NOPREFIX
    LTEXT           "(c) 2026",IDC_STATIC,42,26,114,8
    DEFPUSHBUTTON   "ОК",IDOK,113,41,50,14,WS_GROUP
END

IDD_LOGIN_DIALOG DIALOGEX 0, 0, 200, 90
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Вход"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Логин:",IDC_STATIC,10,12,40,8
    EDITTEXT        IDC_LOGIN_USERNAME,60,10,120,14,ES_AUTOHSCROLL
    LTEXT           "Пароль:",IDC_STATIC,10,32,40,8
    EDITTEXT        IDC_LOGIN_PASSWORD,60,30,120,14,ES_PASSWORD | ES_AUTOHSCROLL
    DEFPUSHBUTTON   "Войти",IDOK,60,60,50,14
    PUSHBUTTON      "Отмена",IDCANCEL,130,60,50,14
END

IDD_ACTIVATE_DIALOG DIALOGEX 0, 0, 220, 90
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Активация"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Код активации:",IDC_STATIC,10,12,80,8
    EDITTEXT        IDC_ACTIVATION_KEY,10,30,200,14,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "Активировать",IDOK,60,60,70,14
    PUSHBUTTON      "Отмена",IDCANCEL,140,60,70,14
END

IDD_SCHEDULE_DIALOG DIALOGEX 0, 0, 220, 100
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Расписание сканирования"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Интервал, минут:",IDC_STATIC,10,12,90,8
    EDITTEXT        IDC_SCHEDULE_MINUTES,10,28,80,14,ES_AUTOHSCROLL
    LTEXT           "Статус:",IDC_STATIC,10,50,40,8
    LTEXT           "-",IDC_SCHEDULE_STATUS,60,50,140,8
    DEFPUSHBUTTON   "ОК",IDOK,60,72,50,14
    PUSHBUTTON      "Отмена",IDCANCEL,130,72,50,14
END

/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_ABOUTBOX, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 163
        TOPMARGIN, 7
        BOTTOMMARGIN, 55
    END
END
#endif    // APSTUDIO_INVOKED

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//
1 TEXTINCLUDE
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE
BEGIN
    "#ifndef APSTUDIO_INVOKED\r\n"
    "#include ""targetver.h""\r\n"
    "#endif\r\n"
    "#define APSTUDIO_HIDDEN_SYMBOLS\r\n"
    "#include ""windows.h""\r\n"
    "#undef APSTUDIO_HIDDEN_SYMBOLS\r\n"
    "\0"
END

3 TEXTINCLUDE
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////
//
// Таблица строк
//

STRINGTABLE
BEGIN
   IDC_RBPOPZ6SEM   "ZIOVPOPZ"
   IDS_APP_TITLE       "Rbpo_pz_6sem"
END

#endif
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Создано из ресурса TEXTINCLUDE.
//

/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED
